.listItem {
  display: block;
  color: navy;
  list-style: none;
  // border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 20px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #555;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.listLink {
  display: block;
  flex: 1 0 33.33%;
  text-decoration: none;
}

.pane {
  position: absolute;
  top: 6px; left: 6px; bottom: 6px; right: 6px;
  padding: 10px;
  background-color: rgba(black,.3);
  color: white;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
