.listItem {
  display: block;
  color: navy;
  list-style: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 20px;
  height: 340px;
  position: relative;
  overflow: hidden;
}

.listLink {
  display: block;
  flex: 1 0 33.33%;
  text-decoration: none;
}

.poster {
  position: absolute;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  z-index: -1;
}

.pane {
  position: absolute;
  top: 6px; left: 6px; bottom: 6px; right: 6px;
  padding: 10px;
  background-color: rgba(black,.3);
  color: white;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
