.container {
  height: 38px;
  background-color: silver;
  border: 1px solid silver;
  border-radius: 3px;
}

.panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.input {
  flex: 1 0 auto;
}
